body {
  background-color: #e7e7e7;
}

h1,
label {
  font-family: sans-serif;
}

input {
  margin-left: 15px;
  padding: 4px;
  font-size: 16px;
}

p {
  margin-left: 62px;
  font-size: 18px;
}

.main-box {
  margin: 30px auto;
  padding: 60px;
  border: 1px solid hsl(0deg 0% 76%);
  border-radius: 25px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 400px;
  background-color: hsl(0deg 0% 98%);
}
